.card-actions {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.edit-btn {
  background: #008cba;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.edit-btn:hover {
  background: #0073a6;
}
.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

