.size {
    width: 100px;
    height: 100px;
}

/*body {
    
    background-image: url('yatch2.jpg');
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height 
}*/