body {
    background-color: #1a1a1a; /* Dark background color */
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for the body */
    line-height: 1.6; /* Line height for better readability */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

h1{
    font-size: 2.0rem; /* Responsive font size */;
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-size: 1.0rem; /* Responsive font size */;
    color: #e6e6e6;
}

/* Navigation Bar Styling */
/*Grand Parent Selector for Nav bar */
nav {
    position: fixed; /* Fixed position to keep the navbar at the top */
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0; /* Add padding to the top and bottom */
    z-index: 1000; /* Ensure the navbar is above other content */
    background-color: rgba(50, 50, 60, 0.95); /* Semi-transparent background */
    box-shadow: 0 2px 10px rgba(50, 50, 60, 0.95); /* shadow effect */
}

/* Parent Selector for Nav bar */
nav ul {
    list-style: none; /* Remove default list style */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center the list items */
    align-items: center; /* Center the items vertically */
}

/*Child Selector for Nav bar */
nav ul li {
    margin: 0 10px; /* Add space between list items */
}

/*Grand child Selector for Nav bar */
nav ul li a {
    font-family: "Montserrat", sans-serif;
    font-size: 20px; /* Font size for the links */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s; /* Smooth transition for hover effect */
    padding-bottom: 5px; /* Add space below the text */
    border-bottom: 2px solid transparent; /* Add space below the text */
    position: relative; /* Position relative for pseudo-element */
}

/* Great grant child (Hover effect) for Nav bar */
nav ul li a:hover {
    color: #1d9ba9; /* Change text color on hover */
    bottom: -2px; /* Move text down on hover */
    border-bottom: 2px solid #e6e6e6; /* Add underline on hover */
    background-color: #27d2e529; /* Change background color on hover */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px; /* Add padding on hover */
}

/* Header styling */
.header-content {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full viewport height */
    width: 100wh; /* Full viewport width */
    text-align: center; /* Center text */
    padding: 2rem; /* Padding for header content */
    padding-top: 60px; /* Extra padding for top */
    background-image: url('yatch2.jpg'); /* Background image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* No repeat for the background image */
    position: relative; /* Position relative for pseudo-element */

}
.header-content::before { /* Pseudo-element for overlay */
    content: ""; /* Empty content for pseudo-element */
    position: absolute; /* Position absolute for overlay */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    bottom: 0; /* Align to the bottom */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent overlay */
    z-index: 0; /* Ensure overlay is above background image */
}
.header-text, .content-button { /* Header text and button styling */
    z-index: 1; /* Ensure content is above overlay */
    position: relative; /* Position relative for stacking context */
}
.header-text h1 {
    font-size: 2rem; /* Responsive font size */
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for header text */
    margin-bottom: 20px; /* Space below the heading */
    
}
/*.header-text h2 {
    font-size: 1.0rem; /* Responsive font size */
    /*color: #e6e6e6; /* Light text color */
    /*font-family: "Montserrat", sans-serif; /* Font family for header text */
    /*margin-bottom: 20px; /* Space below the heading */
    /*border-bottom: 2px solid #e6e6e6; /* Underline effect */
    /*display: inline-block; /* Align with the text */
/*}

/* Header Button styling */
button {
    text-transform: uppercase; /* Uppercase text */
    position: relative; /* Position relative for stacking context */
    border: none; /* Remove default border */
    font-size: 25px; /* Font size for button */
    transform: 0.2s; /* Smooth transition */
    background-color: transparent; /* transparent background */
    outline: none; /* none; Remove default shadow */
    border-radius: 3px; /* Rounded corners */
    margin: 0px 10px; /* Space between buttons */
    padding: 23px 33px; /* Padding for button */
    border: 3px solid transparent; /* Transparent border */
}
button a {
    text-decoration: none; /* Remove underline from links */
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for button text */
}
button:active {
    transform:translate(3px); /* Move button down on click */
}
button::after, button::after { /* Pseudo-element for button */
    border-radius: 3px; /* Rounded corners */
}
.content-button {
    background-color: transparent; /* Transparent background */
    color: #d3d3d3; /* Light text color */
    width: max-content; 
    padding: 20px 20px; /* Padding for button */
    
}
.content-button:hover {
    background-color: transparent; /* Change background color on hover */
    color: #e6e6e6; /* Light text color */
    box-shadow: none; /* Remove shadow on hover */
}
.content-button::before { /* Pseudo-element for button */
    content: ""; /* Empty content for pseudo-element */
    position: absolute; /* Position absolute for overlay */
    top: 0; /* Align to the top */
    left: 0; 
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border: 3px solid #959595; /* Border color */
    transition: opacity 0.3s border 0.3s; /* Smooth transition */
}
.content-button:hover::before { /* Pseudo-element for button hover */
    opacity: 0; /* Fade out on hover */
}
.content-button::after { /* Pseudo-element for button hover */
    content: ""; /* Empty content for pseudo-element */
    position: absolute; /* Position absolute for overlay */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: transparent; /* Background color */
    border: 3px solid #e6e6e6; /* Border color */
    opacity: 0; /* Initial opacity */
    z-index: -1; /* Ensure pseudo-element is below content */
    transform: scaleX(1.1) scaleY(1.3); /* Scale effect */
    transition: transform 0.3s opacity 0.3s; /* Smooth transition */
}
.content-button:hover::after { /* Pseudo-element for button hover */
    opacity: 1; /* Fade in on hover */
    transform: scaleX(1) scaleY(1); /* Scale effect */
}


    /* Main section styling */
.container {
    max-width: 600px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add padding inside the container */
    /* border: #15a2b5 solid 10px;  Add border to the container */
    /* background-color: #353333; /* Light background color */
}
.content-header {
    padding: 20px; /* Add padding inside the div */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);  
    margin: 80px auto;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.content-header h1 {
    font-size: 24px; /* Font size for chapter headings */
    color: #e6e6e6;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px; /* Space below the heading */
    border-bottom: 2px solid #e6e6e6; /* Underline effect */
    display: inline-block; /* Align with the text */
    padding-bottom: 5px; /* Space for the underline effect */
    text-align: left; 
}
.content-header p {
    font-size: 12px; /* Font size for paragraph */
    text-align: justify; 
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for paragraph */
    margin-bottom: 20px; /* Space below the paragraph */   
}


.chapter-section {
    max-width: 1200px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add padding inside the container */
    border: #15a2b5 solid 10px; /* Add border to the container */
    background-color: #353333; /* Light background color */
}
.chapter-section h1 {
    font-size: 24px; /* Font size for chapter headings */
    color: #e6e6e6;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px; /* Space below the heading */
    border-bottom: 2px solid #e6e6e6; /* Underline effect */
    display: inline-block; /* Align with the text */
    padding-bottom: 5px; /* Space for the underline effect */
}


/*Gallery section styling*/

.main-gallery-container {
    margin-top: 50px; /* Add margin to the top */
    margin: 50px; /* Add margin to the bottom */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    padding: 20px; /* Add padding inside the div */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);  
    margin: 80px auto; /* Center the container */
    max-width: 1200px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.gallery-header h2{
    text-align: left; /* Center the header text */
    margin-bottom: 20px; /* Space below the header */
    border-bottom: 2px solid #e6e6e6; /* Underline effect */
    display: inline-block; /* Align with the text */
    padding-bottom: 5px; /* Space for the underline effect */
    color: #e6e6e6;
    font-family: "Montserrat", sans-serif;
    font-size: 24px; /* Font size for chapter headings */
    margin-bottom: 1px; /* Space below the heading */
}

#gallery {
    display: grid; /* Use grid layout for gallery */
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid columns */
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    width: 75%; /* Set width to 75% of the container */
    margin: 20px auto; /* Center the gallery */
    gap: 10px; /* Space between images */
    padding: 20px; /* Padding inside the gallery */
    image-resolution: from-image; /* Use image resolution */
}
figure {
    position: relative; /* Position relative for overlay */
    overflow: hidden; /* Hide overflow for images */
    border-radius: 10px; /* Rounded corners for images */
    margin: 10px; /* Space between images */
    padding: 5px; /* Padding for images */
    box-shadow: 0 2px 10px rgba(50, 50, 60, 0.95); /* Shadow effect */
}
figure img {
    width: 100%; /* Full width for images */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners for images */
    transition: transform 0.3s; /* Smooth transition for hover effect */
}
#gallery img {
    width: 100%; /* Full width for images */
    position: relative; /* Position relative for overlay */
    padding: 0px; /* Remove padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    box-shadow: 0 2px 10px rgba(50, 50, 60, 0.95); /* Shadow effect */
    z-index: -1; /* Ensure images are below overlay */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners for images */
    transition: transform 0.3s; /* Smooth transition for hover effect */
}
figcaption {
    position: absolute; /* Position absolute for overlay */
    bottom: 6px; /* Align to the bottom */
    padding: 9px 0px 11px 0px; /* Padding for caption */
    text-transform: uppercase; /* Uppercase text */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    width: 100%; /* Full width for caption */
    color: #e6e6e6; /* Light text color */
    z-index: 1; /* Ensure caption is above images */
    font-family: "Montserrat", sans-serif; /* Font family for caption */
    font-size: 15px; /* Font size for caption */
    text-align: center; /* Center text in caption */
}
figure:hover img {
    transform: scale(1.05); /* Scale effect on hover */
}



        /* Contact section styling */
.contact {
    max-width: 800px; /* Set a maximum width for the contact section */
    margin: 80px auto; /* Center the contact section */
    font-weight: normal;
    margin-bottom: 40vh; /* Add margin to the bottom */
    padding: 20px; /* Add padding inside the contact section */
    border-radius: 10px; /* Rounded corners for contact section */
    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.contact h1 {
    font-size: 24px; /* Font size for contact heading */
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for contact heading */
    margin-bottom: 20px; /* Space below the heading */
    border-bottom: 2px solid #e6e6e6; /* Underline effect */
    display: inline-block; /* Align with the text */
    padding-bottom: 5px; /* Space for the underline effect */
}
.contact form {
    /*display: flex; /* Use flexbox for layout */
    font-family: "Montserrat", sans-serif; /* Font family for form */
    font-size: 18px; /* Font size for form */
    /*flex-direction: column; /* Stack items vertically */
    /*flex-wrap: wrap; /* Allow items to wrap */
    color: #e6e6e6; /* Light text color */
    line-height: 1.6; /* Line height for better readability */
    margin: 0;
}

/*contact input[text], .contact textarea[message] { */
.contact input, .contact textarea {
    font-size: 18px; /* Font size for input fields */
    margin: 0; /* Remove default margin */
    /*width: 95%; /* Full width for input fields */
    padding: 10px; /* Padding for input fields */
    margin-bottom: 20px; /* Space below input fields */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners for input fields */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for input fields */
}
.contact button {
    background-color: transparent; /* Transparent background */
    background-color: #27d2e529; /* Button background color */   
    color: #e6e6e6; /* Button text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 18px; /* Font size for button */
    padding: 10px 20px; /* Padding for button */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effect */
}
.contact button:hover {
    background-color: #1d9ba9; /* Change background color on hover */
    transform: scale(1.05); /* Scale effect on hover */
}

/* Table section styling */
.custom-table {
    width: 100%; /* Full width for table */
    border-radius: 8px; /* Rounded corners for table */
    overflow: hidden; /* Hide overflow for table */
    margin: 20px auto; /* Center the table */
    box-shadow: 0 2px 10px rgba(50, 50, 60, 0.95); /* Shadow effect */
    border-collapse: collapse; /* Collapse table borders */
}
.custom-table th, .custom-table td {
    padding: 12px; /* Padding for table cells */  
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for table cells */
    font-size: 16px; /* Font size for table cells */
    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background for table cells */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #e6e6e6; /* Bottom border for table cells */
}

.custom-table th {
    background-color: #27d2e529; /* Semi-transparent background for table headings */
    color: #e6e6e6; /* Light text color for table headings */
}
.custom-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background for even rows */
}


/* About section styling */
.two-column-container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between columns */
    margin-top: 100px; /* Add margin to the top */
    margin-left: 70px; /* Add margin to the left */
    margin-right: 70px; /* Add margin to the right */
    margin-bottom: 20px; /* Add margin to the bottom */
    padding: 20px; /* Add padding inside the container */
    
}
.right-column {
    margin-left: 20px; /* Space between columns */
    flex-direction: column; /* Stack items vertically */    
    flex-basis: 48%; /* Set width for right column */
    padding: 20px; /* Add padding inside the right column */
    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners for right column */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.left-column {
    align-content: center;
    flex-basis: 48%; /* Set width for left column */
    padding: 20px; /* Add padding inside the right column */
    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners for right column */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.left-column img {
    border-radius: 10px; /* Rounded corners for image */
    box-shadow: 0 2px 10px rgba(50, 50, 60, 0.95); /* Shadow effect for image */    
    width: 100%; /* Full width for image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space below the image */
}
.left-column h2 {
    font-size: 24px; /* Font size for left column heading */
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for left column heading */
    margin-bottom: 20px; /* Space below the heading */
    border-bottom: 2px solid #e6e6e6; /* Underline effect */
    display: inline-block; /* Align with the text */
    padding-bottom: 5px; /* Space for the underline effect */
}
.about-section  {
    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
    padding: 20px; /* Add padding inside the about section */
    margin: 80px auto; /* Center the about section */
    max-width: 800px; /* Set a maximum width for the about section */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow effect */  
}
.about-section h2 {
    font-size: 24px; /* Font size for about section heading */ 
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for about section heading */
    margin-bottom: 20px; /* Space below the heading */
    border-bottom: 2px solid #e6e6e6; /* Underline effect */
    display: inline-block; /* Align with the text */
    padding-bottom: 5px; /* Space for the underline effect */
    text-align: left; /* Align text to the left */
}
.about-section p {
    font-size: 16px; /* Font size for paragraph */  
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for paragraph */
    line-height: 1.6; /* Line height for better readability */
    margin: 20px; /* Remove default margin */
}
.call-to-action {
    background-color: rgba(75, 186, 253, 0.08); /* Semi-transparent background */
    padding: 50px 20px; /* Add padding inside the call to action section */
    margin: 80px auto; /* Center the call to action section */
    max-width: 1200px; /* Set a maximum width for the call to action section */
    text-align: center; /* Center text in the call to action section */
    margin-top: 0px;
}
.three-row-container {
    margin: 20px; /* Space between columns */
    flex-direction: row; /* Stack items vertically */    
    padding: 20px; /* Add padding inside the right column */
    background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners for right column */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow effect */
    text-align: center; /* Center text in the three-row container */
    margin-bottom: 40px; /* Space below the three-row container */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.three-row-container h2 {
    font-size: 14px; /* Font size for three-row container heading */
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for three-row container heading */
    margin-bottom: 5px; /* Space below the heading */
    border-bottom: 2px solid #e6e6e6; /* Underline effect */
    display: inline-block; /* Align with the text */
    padding-bottom: 5px; /* Space for the underline effect */
}
.three-row-container p {   
    font-size: 12px; /* Font size for paragraph */
    color: #e6e6e6; /* Light text color */
    font-family: "Montserrat", sans-serif; /* Font family for paragraph */
    line-height: 1.6; /* Line height for better readability */
    margin: 0; /* Remove default margin */  
    padding: 0; /* Remove default padding */
}


        /* Responsive Design == Adding media query*/
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center items horizontally */
    }
    nav ul li {
        margin: 10px 0; /* Add space between list items */
    }
    .header-content {
        padding: 1rem; /* Reduce padding for smaller screens */
    }
    .header-text h1 {
        font-size: 1.5rem; /* Smaller font size for header text */
    }
    .content-header h1, .chapter-section h1 {
        font-size: 20px; /* Smaller font size for headings */
    }
    .content-header p {
        font-size: 14px; /* Smaller font size for paragraph */
    }
    button {
        font-size: 18px; /* Smaller font size for buttons */
        padding: 15px 20px; /* Adjust padding for smaller screens */
    }
    figcaption {
        font-size: 3vw; /* Responsive font size for caption */
    }
    #gallery {
        grid-template-columns: 1fr; /* Single column layout for gallery */
        width: 90vw; /* Set width to 90% of viewport width */
    }
    
    
}






/* Footer Styling */
footer {
    background-color: #1b1b20; /* Dark background color */
    color: #e6e6e6; /* Light text color */
    padding: 40px 0; /* Padding for footer */
}
.footer-content {
    max-width: 1200px; /* Set a maximum width for the footer content */
    margin: 0 auto; /* Centering the footer content */
    text-align: center; /* Center text in the footer */
}
.footer-links {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the links */
    padding: 0; /* Remove default padding */
    list-style: none; /* Remove default list style */
    gap: 20px; /* Space between links */
}
.footer-links a {
    color: #e6e6e6; /* Light text color */
    text-decoration: none; /* Remove underline from links */
    font-family: "Montserrat", sans-serif; /* Font family for footer links */
    font-size: 18px; /* Font size for footer links */
    transition: color 0.3s; /* Smooth transition for hover effect */
}
.footer-links a:hover {
    color: #1d9ba9; /* Change text color on hover */
    bottom: -2px; /* Move text down on hover */
    border-bottom: 2px solid #e6e6e6; /* Add underline on hover */
    background-color: #27d2e529; /* Change background color on hover */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px; /* Add padding on hover */
}
.footer-social-icons {
    margin-top: 0px; /* Space above the icons */
}
.footer-social-icons a {
    color: #e6e6e6; /* Light text color */
    font-size: 24px; /* Font size for social icons */
    margin: 0 10px; /* Space between icons */
    transition: color 0.3s; /* Smooth transition for hover effect */
}
.footer-social-icons a:hover { 
    color: #1d9ba9; /* Change text color on hover */
    transform: scale(1.2); /* Scale effect on hover */
}
.footer-social-icons a.fb  {
    color: #3b5998; /* Facebook color */
}
.footer-social-icons a.ig {
    color: #e1306c; /* Instagram color */
}
.footer-social-icons a.tw {
    color: #1da1f2; /* Twitter color */
}


        .footer {
            text-align: center;
            padding: 2rem;
            background-color: #333;
            color: rgb(63, 62, 62);
            margin-top: 2rem;
        }

        
    


   /* div {
            margin: 20px;
            text-align: center;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.05);;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
 */